body,
html {
  height: 100%;
  margin: 0;
}

.home-container {
  height: calc(100vh - 180px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  flex-direction: column; 
}

.row {
  width: 100%;
  height: 100%;
}

.text-section,
.image-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-section {
  padding: 20px;
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1.5rem;
}

.button-group {
  margin-top: 20px;
}

.button-group .btn {
  font-size: 1.25rem;
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  text-decoration: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.button-group .btn:hover {
  background-color: #555;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-toggle {
  margin-top: 20px;
  border: none;
  background-color: #333;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 1.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.profile-image {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  object-fit: cover;
}

.weather-box {
  margin-bottom: 50px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.weather-box h2 {
  margin: 0 0 10px;
}

.weather-box p {
  margin: 5px 0;
}

/* Light mode styles */
.home-container.light-mode {
  background-color: #f0f0f0;
}

h1.light-mode {
  color: #333;
}

.weather-box.light-mode {
  color: #333;
  background-color: #f0f0f0;
}

/* Dark mode styles */
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

h1.dark-mode {
  color: #ffffff;
}

.home-container.dark-mode {
  background-color: #121212;
}

.button-group .btn.dark-mode {
  background-color: #ffffff;
  color: #333;
}

.button-group .btn.dark-mode:hover {
  background-color: #dddddd;
}

.btn-toggle:hover {
  background-color: #dddddd;
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.weather-box.dark-mode {
  background-color: #ffffff;
  color: #333;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
}