#root.dark-mode {
    background-color: #121212;
}
#root.light-mode {
    background-color: #ffffff;
}

.dark-mode {
    background-color: #333;
    color: #ffffff;
}

.light-mode {
    background-color: #ffffff;
    color: #333;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    justify-content: center;
    margin-top: 20px;
}

.square {
    width: 100px;
    height: 100px;
    background-color: #dfdededa;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
}

.btn-toggle {
    margin-top: 20px;
}